* {
    padding: 0;
    margin: 0;
}
html {
    /* 1rem = 16px, so when define at 62.5% 1rem = 10 px */
    /* for responsive size, just change this font-size in media-query (for ex retina screen) */
    font-size: 62.5%;
}
main {
    font-size: 1.2rem;
}

/* Home Form */
#home {
    margin: 0 auto;
}
#home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 40rem;
}
#home-form input[type="text"] {
    width: 10rem;
}
#home-form .radio-inputs {
    margin: 0 0 0 1rem;
    font-weight: bold;

}
#home-form input[type="submit"] {
    margin: 1rem 0;
}
#home-form div {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

/* Game UI */
#game {
    width: 40rem;
    margin: 0 auto;
}
#title, #score, #game-board-zone {
    margin: 0 auto;
    text-align: center;
}
.players {
    color: slategrey;
}
.current-player-name {
    font-weight: bold;
    color: black;
}
#score {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 1rem auto;
    width: 30rem;
    font-size: 1.5rem;
}
#player1 {
    text-align: left;
}
#player2 {
    text-align: right;
}
#score-display {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
#win-description {
    height: 3rem;
    margin: 1rem auto 0.5rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: palevioletred;
}
#restart-button {
    display: block;
    width: 10rem;
    margin: 1rem auto;
}

/* Game Board */
#game-board-zone, #game-board, #game-board-mask {
    height: 30rem;
    width: 30rem;
}
#game-board-zone {
    background-color: rgb(33, 37, 99);
    padding: 0.3rem;
    position: relative;
}
#game-board {
    display: grid;
    grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
#game-board-mask {
    visibility: collapse;
    position: absolute;
}
.game-cells {
    display: flex;
    background-color: rgb(212, 213, 236);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}